logs/
logs_defense/

result_defense/
configs/generated/
output_*.txt
err_*.txt
output_grid_*.txt
err_grid_*.txt
output_hs_*.txt
err_hs_*.txt
output_grid_hs_*.txt
err_grid_hs_*.txt
output_grid_defense_*.txt
err_grid_defense_*.txt
__pycache__/
*.pyc
models/
.env
*.log
test_cpu_inference.py
.vscode/settings.json
